[Unit]
Wants=mosquitto.service
Description=MQTT-Shell Service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash INSTALLDIR/driver/mqtt_shell -s
Restart=always

[Install]
WantedBy=multi-user.target
