[Unit]
Wants=mosquitto.service influxdb.service
Description=ShellyHT Service - -device/-component

[Service]
Type=simple
user=SVCUSER
group=SVCUSER
ExecStart=/bin/bash INSTALLDIR/driver/shelly_ht "-device" "-component"
Restart=always

[Install]
WantedBy=multi-user.target
