[Unit]
Wants=mosquitto.service influxdb.service
Description=Shelly Plus Service - -device/-component

[Service]
Type=simple
ExecStart=/bin/bash INSTALLDIR/driver/shelly_plus "-device" "-component"
Restart=always

[Install]
WantedBy=multi-user.target
