[Unit]
Wants=mosquitto.service
Description=Standbykiller Plus -desc -sbpwr W
After=mosquitto.service

[Service]
Type=simple
ExecStart=/bin/bash INSTALLDIR/driver/standbykiller_plus -dev -desc -sbpwr
Restart=always

[Install]
WantedBy=multi-user.target
