[Unit]
Wants=mosquitto.service
Description=Standbykiller Legacy -desc -sbpwr W

[Service]
Type=simple
user=SVCUSER
group=SVCUSER
ExecStart=/bin/bash INSTALLDIR/driver/standbykiller_legacy -dev -desc -sbpwr
Restart=always

[Install]
WantedBy=multi-user.target
